.grid-item, .grid-sizer {
  width: 100%; /* Mobile */
}

@media (min-width: 768px) { /* Tablet and above */
  .grid-item, .grid-sizer {
    width: 49%;
  }
}

margin-bottom: 30px; /* Space between grid items */

/*
 * Globals
 */

 body {
  font-family: 'Merriweather', serif;
  color: #000;
}

.main-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
a {
    color: #000000;
    text-decoration: none;

}
a:hover, a:focus {
    color: red;
    text-decoration: underline;
}

.italic-text {
  font-style: italic;
}

h1 {
  font-weight: 700; /* Explicitly set bold for h1 */
}

h2 {
  font-weight: 600; /* Slightly less bold than h1 */
}

h3 {
  font-weight: 500; /* Less bold than h2 */
}

h4 {
  font-weight: 400; /* Normal font weight, often the same as regular text */
}

h5 {
  font-weight: 400; /* Keeping the same as h4 for consistency */
}

h6 {
  font-weight: 400; /* Keeping the same as h4 and h5 for consistency */
}


 /* Override Bootstrap's default container.
 */

/* @media (min-width: 1200px) {
  .container {
    width: 1020px;
  }
} */


/*
 * Masthead for nav
 */

.blog-masthead {
          text-align: right;
}

/* Nav links */
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #000;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #000;
}




















.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog Styles
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-header a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: .75em; /* Mobile */
}

@media (min-width: 768px) { /* Tablet and above */
  .blog-header a {
    font-size: .5em;
  }
}
.card-body p {
color: rgba(255,255,255,0.75);
}


.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 900;
  line-height: 1.5em;
  font-size: 2.5rem;
}

.blog-description {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  line-height: 2em;
  color: #999;
}
.blog-description a {
  color: #999;
  font-family: 'Montserrat', sans-serif;
  font-size: .85em;
}

/*
* Blog content styles
*/



.grid-item-content {
  background: Yellow;
  border: 4px solid black;
  margin-bottom: 30px;
  text-align: center;
  line-height: 200px;
  font-size: 50px;
}

.card-body-loop {
  background-size: cover;
  height: 50vh;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


























/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Case Study over view page
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #000;
}
.blog-nav li {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 900;
}
.blog-nav li a {
  color: #000;
}

/*
 * about page
 */
/* Mobile styles */
.hero-text-container h1 {
  font-weight: 900;
  font-size: 2em; /* adjust as needed */
  line-height: 1.3em;
}

.about-parent {
  height: 390px; /* adjust as needed */
  width: 100%;
  font-size: .7em;
}

/* iPhone 14 Pro Max styles */
@media screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .about-parent {
    height: 422px; /* adjust as needed */
  }
}

/* Tablet styles */
@media (min-width: 768px) {
  .hero-text-container h1 {
    font-size: 2.5em; /* adjust as needed */
  }

  .about-parent {
    height: 550px; /* adjust as needed */
    width: 100%; /* adjust as needed */
    font-size: 1em; /* adjust as needed */
  }
}

/* Desktop styles */
@media (min-width: 992px) {
  .hero-text-container h1 {
    font-size: 3em;
  }
}






















 
.about-hero {
  background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
}

.about-main-wrapper {
  max-width: 1020px;
  margin: 0 auto; /* center the div */
}
.about-main {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 56%;
  background-image: url('../assets/images/transparent-bear-compressed.png');
  max-width: 1020px;
  height: 100%;
}

@media (min-width: 428px) { /* iPhone 14 Pro Max and above */
  .about-main {
    background-size: 56%;
  }
}

@media (min-width: 768px) { /* Tablet and above */
  .about-main {
    background-position: 80% -10%;
    background-size: 56%;
  }
}

@media (min-width: 992px) { /* Desktop and above */
  .about-main {
    background-size: 50%;
    /* Add any specific styles for desktop and above here */
  }
}



 .about-long-description {
   font-size: 1.1em;
    line-height: 2;
    font-weight: 100;
 }
 @media (max-width: 768px) {
   .about-long-description {
     margin-top: -50px;
   }
 }
 .job {
   font-size: 1.1em;
 }
 .year {
   font-size: 1.1em;
 }
 .school-name {
   font-size: 1.1em;
 }

 /*
  * single case study page styles
  */
.single-hero {
  height: 50vh;
}
.single-case-studies-post-title {
  font-size: 3em;
}

@media (min-width: 768px) {
  .single-case-studies-post-title {
    font-size: 4em;
  }
}

@media (max-width: 1000px) {
  .side-heading {
    margin-left: 20px;
    margin-right: none;

  }
}
.side-paragraph {
  line-height: 2;
  font-family: 'Montserrat', sans-serif
}
@media (max-width: 1000px) {
  .side-paragraph {
    margin-left: 20px;
    margin-right: none;

  }
}
.single-large-image {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  min-height: 70vh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;

}
@media (max-width: 900px) {
  .single-large-image {
    margin-left: none;
    margin-right: none;

  }
}
.single-large-image-no-overflow{
  height: 284px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .single-large-image-no-overflow {
    height: 355px;
  }
}

@media (min-width: 992px) {
  .single-large-image-no-overflow {
    height: 555px;
  }
}

.large-quote {
  font-size: 3em;
  font-weight: 100;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 18vh;
	margin-bottom: 0px;
}
.blog-footer a{
  color: #999;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
